$fontPath: "/src/scss/icomoon/fonts/";

@font-face {
  font-family: 'icomoon';
  src:  url($fontPath + 'icomoon.eot?vlxdll');
  src:  url($fontPath + 'icomoon.eot?vlxdll#iefix') format('embedded-opentype'),
    url($fontPath + 'icomoon.ttf?vlxdll') format('truetype'),
    url($fontPath + 'icomoon.woff?vlxdll') format('woff'),
    url($fontPath + 'icomoon.svg?vlxdll#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e90e";
}

